body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url("../images/cropped-mountain-range-sunset-landscape-cloudy-sky-mountain-peaks-3840x2160-4620(1).jpg");

    /*background: linear-gradient(*/
    /*    to bottom,*/
    /*    #87ceeb, !* light sky blue *! #00bfff !* deep sky blue *!*/
    /*) no-repeat;*/
    overflow: hidden;
}

.small-header{
    background: #0a0a0a;
    min-height: 35px;
}

.header{
    background: transparent;
}

.footer{
    background: #0a0a0a;
    min-height: 40px;
}

.home-top{
    min-height: 42vh;


}

.home-bottom{
    min-height: 46vh;
    padding-top: 2vh;
}

#map{
    height: 300px; width: 100%;
}
.layer-toggle { margin: 10px 0; }


/* Weather Card Styling (Glassmorphism) */
.card {
    background: linear-gradient(
        to bottom,
        rgba(15, 52, 96, 0.5),   /* deep blue */
        rgba(70, 130, 180, 0.4)  /* sky blue */
    );
    backdrop-filter: blur(10px);
    border-radius: 20px;
    /*padding: 25px;*/
    /*margin: 20px auto;*/
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #ffffff;
    text-align: center;
    font-weight: 300;
}

.card h2,
.card p,
.card li {
    /*text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.4); !* light glow *!*/
}

