body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.small-header{
    background: #0a0a0a;
    min-height: 3vh;
}

.header{
    background: transparent;
}

.footer{
    background: #0a0a0a;
    min-height: 50px;
}

.home-top{
    min-height: 42vh;
}

.home-bottom{
    min-height: 45vh;
}

#map{
    height: 100%;
    width: 100%;
}

.card{
    height: 40vh;
}


